.body {
  padding: 20px;
  overflow-y: overlay;
  flex: 0.8;
  color: white;
  background-color: #121212;
  display: grid;
  grid-gap: 32px;
}
.body__row {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  overflow-y: hidden;
  min-height: 250px;
}
.body__rowTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-transform: none;
}
h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.body__block {
  flex: 1;
  justify-content: space-between;
  text-align: left;
  padding: 16px;
  background: #181818;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  .body__block:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .body__block:nth-child(4) {
    display: none;
  }
}
.body__block > img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 16px;
  border-radius: 2px;
}
.body__block > h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
}
