.body {
  padding: 30px;
  height: 100vh;
  overflow-y: overlay;
  flex: 0.8;
  color: white;
  background-color: #121212;
}
.body__row {
  display: flex;
  min-height: 250px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-transform: none;
  margin-bottom: 18px;
}
.body__block {
  flex: 1;
  justify-content: space-between;
  text-align: left;
  padding: 16px;
  margin-right: 15px;
  background: #181818;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  .body__block:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .body__block:nth-child(4) {
    display: none;
  }
}
.body__block > img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 16px;
  border-radius: 2px;
}
.body__block > h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
}
