.songRow {
  margin-left: 3.5%;
  margin-right: 6.5%;
  padding: 13px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  text-align: left;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 40px;
  width: 40px;
}
span {
  font-variant: tabular-nums;
  color: #b3b3b3;
  width: 16px;
  height: 16px;
  margin-top: 5%;
}
