.body {
  background-color: #121212;
  display: grid;
  grid-template-rows: 30px 1fr;
  overflow: hidden;
}
.body_rows {
  padding: 20px;
  overflow-y: overlay;
  flex: 0.8;
  color: white;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-transform: none;
}
h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  .body__block:nth-child(4) {
    display: none;
  }
  .body__block:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .body__block:nth-child(3) {
    display: none;
  }
}
